div{
    text-align: center;
    top: 10%;
}
.search-bar {
       display: flex;
       align-items: center;
       border: 1px solid #272828;
       border-radius: 2px;
       padding: 6px 8px;
   }
   
   .search-icon, .mic-icon, .lens-icon {
       width: 20px;
       height: 20px;
       margin-right: 8px;
   }
   
   .search-input {
       flex-grow: 1;
       border: none;
       outline: none;
       font-size: 16px;
   }