.avatar-container {
       position: relative; /* Necessary for absolute positioning of children */
     }
     
     .round-image {
       border-radius: 50%;
       width: 150px; /* Adjust the size as needed */
       height: 150px; /* Ensure the height and width are equal */
   }
   
          
     
     .avatar {
       position: absolute;
       border-radius: 50%; /* For circular avatars */
     }
     
     /* Adjust positions and z-index for desired overlap */
     .avatar:first-child {
       left: 0;
       top: 0;
       z-index: 3;
     }
     
     .avatar:nth-child(2) {
       left: 20px;
       top: 0px;
       z-index: 2;
     }
     
     .avatar:nth-child(3) {
       left: 40px;
       top: 0px;
       z-index: 1;
     }
     
     .avatar:nth-child(4) {
       left: 40px;
       top: 0px;
       z-index: 1;
     }